* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    min-width: 360px;
    height: 100vh;
    background-image: url('.././imgs/forest.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main {
    width: 98%;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {    
    height: 95%;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    box-shadow: -1px -1px 5px 5px rgb(7, 95, 88);
    overflow-y: auto;
}

h2{
    font-size: 1.8rem;
    font-weight: bold;
    margin: 50px 0 20px;
}

h2 + p {
    font-size: 0.9rem;
}

form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

section {
    margin: 45px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.formBlock1 {
    margin: 0 10px 0 0;
    width: 20%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.formBlock2 {
    width: 78%;
    display: flex;
    flex-direction: column;
}

.fullname, .email, .phone, .otherInfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.fullname > input {
    width: 48%;
}

.email > input {
    width: 100%;
}

.phone > input {
    width: 28%;
}

.phone > input:last-child {
    width: 38%;
}

.otherInfo > textarea, select {
    width: 100%;
}

input, textarea, select {
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
}

input, label, select {
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}

input:valid {
    border-color: rgb(9, 82, 76);
    background-color: rgb(173, 204, 201);
}
  
input:invalid {
    border-color: rgb(109, 6, 6);
    background-color: rgb(226, 177, 177);
}

.line {
    width: 100%;
}

.button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

div > .submitButton {
    width: 78%;
    height: 30px;
    line-height: 15px;
    padding: 3px 0;
    border: 3px solid rgb(5, 83, 77);
    background:rgb(5, 83, 77);
    color: rgb(203, 231, 201);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width: 890px) {
    article {
        display: flex;
        flex-direction: column;
        height: 97%;
        width: 99%;
        margin: 0 auto;
        padding: 2px;
        color: white;
        box-shadow: -1px -1px 5px 5px rgb(7, 95, 88);
    }

    section {
        margin: 35px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .fullname, .phone{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
    }

    .fullname > input {
        width: 100%;
    }

    .phone > input, .phone > input:last-child {
        width: 100%;
    }

    .formBlock1 {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        width: 24%;
        font-weight: bold;
    }

    .formBlock1 > label:first-child {
        height: 60px;
        margin-bottom: 20px;
    }
    
    .formBlock1 > label:nth-child(3n) {
        height: 90px;
        margin-bottom: 30px;
    }

    .formBlock1 > label:nth-child(4n) {
        height:30px;
        margin-bottom: 38px;
    }

    .otherInfo > select {
        margin-bottom: 38px;
        width: 100%;
    }

    div > .submitButton {
        width: 75%;
        height: 30px;
        line-height: 15px;
        padding: 3px 0;
        border: 3px solid rgb(5, 83, 77);
        color: rgb(203, 231, 201);
        font-weight: bold;
        text-align: center;
        cursor: pointer;
    }
}






